<h1>Battle!</h1>
<div>
  <form action='/' method='post'>
    <div>
      <label for='name1' type='text'>Enter your name player 1:</label>
      <input type='text' name='name1'>
    </div>
    <div>
      <label for='name2' type='text'>Enter your name player 2:</label>
      <input type='text' name='name2'>
    </div>
    <div>
      <input type='submit' value='Submit'>
    </div>
  </form>
</div>
