<head>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<h1>Battle!</h1>
<div>
  <form action='/' method='post'>
    <div>
      <label for='name1' type='text'><p>Enter your name player 1:</p></label>
      <input type='text' name='name1'>
    </div>
    <div>
      <label for='name2' type='text'><p>Enter your name player 2:</p></label>
      <input type='text' name='name2'>
    </div>
    <div>
      <input type='submit' value='Submit'>
    </div>
  </form>
</div>
</html>
