<img class="right_img" width="150" height="170" src="https://images.freeimages.com/images/premium/large-thumbs/2094/20943157-brain-alien.jpg">
<br><br><br><br>
<h3 style="text-align: right;"><%= @game.player_2.name %></h3>
<h4 style="text-align: right;">HP: <%= @game.player_2.hit_points %> / 100</h4>
