body {
  font-family: futura;
}
h1 {
  color: #ce2b2b;
}
.align_center {
  text-align: center;
}
.align_left {
  float: left;
}
.align_right {
  float: right;
}
.attack_button {
  background-color: #ce2b2b;
}
.button {
  background-color: #ce2b2b;
  border: none;
  font-size: 16px;
  padding: 32px 16px;
  font-family: futura;
  border-radius: 50%;
  box-shadow: 0 9px #999;
}
.button:hover {
  background-color: #a82a2a;
}
.button:active {
  background-color: #a82a2a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.left_img {
  float: left;
  margin-right: 20px;
}
.right_img {
  float: right;
  margin-left: 20px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
